//Classes para exportação - complementos

.alignCenter{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

//Css classes
.container{
    color:rgb(235, 235, 235);
    max-width:400px !important;
    padding:25px;
    border-radius:1px;

}
.containerPaginaLogin{
    @extend .alignCenter;
    min-height:100vh;
}
.logotipo{
    color:rgb(235, 235, 235);
    font-size:3rem;
    font-weight:bold;
}
.fundoPaginaLogin{
    @extend .alignCenter;
    position: absolute;
    height:100%;
    width:100%;
    z-index:-1;
    background: rgb(255,72,72);
    background: linear-gradient(180deg, rgba(255,72,72,1) 0%, rgba(89,96,163,1) 100%);
}

//CSS Buttton ---------------------------------

.btn-login{
    background-color:rgba(255,72,72,0.7)!important;
    color:rgb(235, 235, 235) !important;
    border:0px !important;
    width:100% !important;
    border-radius:200px !important;
    transition: 0.5s !important;
}
.btn-login:focus{
    border:0px !important
}
.btn-login:visited{
    border:0px !important
}
.btn-login:hover{
    transform: scale(1,1.1);
    background: rgba(252, 72, 72,0.9) !important;
    transition: 0.5s;
}

//CSS Input ---------------------------------

.form-control{
    border-radius:200px !important;
    border:0 !important;
    font-size:0.8rem !important;
    background-color:rgba(235, 235, 235,1) !important;
    height:35px;
}
.form-control:hover{
    box-shadow: 0px 0px 8px 2px rgba(235, 235, 235,0.4);
}

//Link (esqueceu sua senha) ------------------------

.link{
    text-decoration:none;
    color:rgba(235, 235, 235,1);
    font-size:0.7rem;
    transition: 0.5s;
}
.link:hover {
    color: rgba(252, 72, 72,0.9);
    transition: 0.5s;
}
